/* Pretendard */
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-Thin), url("../fonts/Pretendard-Thin.subset.woff2") format("woff2"), url("../fonts/Pretendard-Thin.subset.woff") format("woff");
    font-weight: 100;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-ExtraLight), url("../fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"), url("../fonts/Pretendard-ExtraLight.subset.woff") format("woff");
    font-weight: 200;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-Light), url("../fonts/Pretendard-Light.subset.woff2") format("woff2"), url("../fonts/Pretendard-Light.subset.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-Regular), url("../fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("../fonts/Pretendard-Regular.subset.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-Medium), url("../fonts/Pretendard-Medium.subset.woff2") format("woff2"), url("../fonts/Pretendard-Medium.subset.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-SemiBold), url("../fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("../fonts/Pretendard-SemiBold.subset.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-Bold), url("../fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("../fonts/Pretendard-Bold.subset.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-ExtraBold), url("../fonts/Pretendard-ExtraBold.subset.woff2") format("woff2"), url("../fonts/Pretendard-ExtraBold.subset.woff") format("woff");
    font-weight: 800;
}
@font-face {
    font-family: "Pretendard";
    src: local(Pretendard-Black), url("../fonts/Pretendard-Black.subset.woff2") format("woff2"), url("../fonts/Pretendard-Black.subset.woff") format("woff");
    font-weight: 900;
}
