* {
    box-sizing: border-box;
}

body {
    cursor: none;
    font-family: "Pretendard", "Noto Sans KR", "Nanum Gothic", "Apple SD Gothic Neo", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: lightyellow;
}
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(25, 55, 34, 0.5); /* 스크롤바 색상 */
    border-radius: 8px; /* 스크롤바 둥근 테두리 */
}

body::-webkit-scrollbar-track {
    background: #fcf9ed; /*스크롤바 뒷 배경 색상*/
}

/* 마우스 커서변경 */
.mouse-cursor {
    display: block;
    z-index: 999;
    width: 35px;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
}

.mouse-cursor img {
    width: 100%;
    height: auto;
}



/* 배경  */
#clover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#clover svg {
    transition: 1s ease-in-out;
    position: absolute;
}
#clover .animate {
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes blossom-0 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.5) rotate(30deg);
    }
}
@keyframes blossom-1 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.45) rotate(60deg);
    }
}
@keyframes blossom-2 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.4) rotate(45deg);
    }
}
@keyframes blossom-3 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.36) rotate(30deg);
    }
}
@keyframes blossom-4 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.3) rotate(45deg);
    }
}
@keyframes blossom-5 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.25) rotate(60deg);
    }
}
@keyframes blossom-6 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.2) rotate(30deg);
    }
}
@keyframes blossom-7 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.15) rotate(60deg);
    }
}
@keyframes blossom-8 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.1) rotate(45deg);
    }
}
@keyframes blossom-9 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(0.33) rotate(30deg);
    }
}



/* 
.tabRow {
    height: 190px;
}

.tabColumn {
    float: left;
    width: 20%;
    padding: 10px;
}

.tabColumn img {
    opacity: 0.8;
    cursor: pointer;
    border-radius: 10%;
    height: 170px;
}

.tabColumn img:hover {
    opacity: 1;
    border: 2px solid green;
}

.container {
    float: left;
    width: 50%;
    display: none;
}

.temp {
    padding: 10px;
    margin: 5px 5% 0 51%;
    border: 2px solid green;
} */
#sub-section {width:100%; max-width:1280px; margin:0 auto;}
.tabRow {display: flex; align-items: center; gap: 10px;}
.tabRow .tabColumn {width:25%; cursor: pointer;}
.tabRow .tabColumn img {width:100%;}
#sub-section .view {display:flex; gap:30px;}
#sub-section .view .left-area {width:100%; max-width:600px;}
#sub-section .view .right-area {width:calc(100% - 630px)}